@import './base.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
  position: relative;
}

body {
  background-color: #191919;
}

@font-face {
  font-family: 'DMSansFont';
  src: url('@/assets/fonts/DMSans.ttf') format('truetype');
}